@charset "ISO-8859-1";

.title {
	color: white;
	font-size: 105%;
	text-align: center;
}

#loginbox {
	margin: 10px;
	height: 25%;
	background-color: black;
}
.message:empty {
	display: none;
}
.message {
	padding: 8px;
	background-color: pink;
	color: black;
	text-align: center;
}
.login {
	font-size: medium;
	margin: 12px;
}
.loginbtn {
	margin: 12px;
	float: inherit;
}
.input-field {
	font-size: small;
}
