@charset "ISO-8859-1";

h1 {
	color: white;
}

.container {
	height: 100%;
	margin: 0;
}
#coffee{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}
.back-img {
	background-image: url("/images/rings.jpg");
}

