@charset "ISO-8859-1";

h3 {
	color: white;
	text-align: center;
	border: 2px solid black;
	background-color: pink;
}

table {
	border: 2px solid black;
	width: 100%;
	text-align: center;
	background-color: gray;
}
#items {
	text-align: center;
	background-color: gray; 
}

.bgimg {
    background-image: url('/images/beansBW.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}




