@charset "ISO-8859-1";

h1 {
	text-align: center;
	color: navy;
}

table {
	border: 2px solid black;
	width: 100%;
	text-align: center;
}
#items {
	text-align: center;
	background-color: gray; 
}

div {
	background-image: url(/images/coffee.jpg);
	background-position: center; 
 	background-repeat: no-repeat;
 	background-size: cover;
}
