@charset "ISO-8859-1";

.bgimg {
    background-image: url('/images/coffee.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
form {
	color: white;
}

.message:empty {
	display: none;
}
.message {
	padding: 8px;
	background-color: pink;
	color: white;
}