@charset "ISO-8859-1";
.bgimg {
    background-image: url('/images/coffee.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.message {
	text-align: center;
	color: white;
}

table {
	border: 2px solid black;
	width: 100%;
}
#submit {
	border: 2px solid black;
}